In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('ipl/matches.csv')

In [3]:
matches.shape

(636, 18)

In [4]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
matches.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [6]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [10]:
# will return data of 3rd row
matches.loc[3]

id                                      4
season                               2017
city                               Indore
date                           2017-04-08
team1              Rising Pune Supergiant
team2                     Kings XI Punjab
toss_winner               Kings XI Punjab
toss_decision                       field
result                             normal
dl_applied                              0
winner                    Kings XI Punjab
win_by_runs                             0
win_by_wickets                          6
player_of_match                GJ Maxwell
venue              Holkar Cricket Stadium
umpire1                      AK Chaudhary
umpire2                     C Shamshuddin
umpire3                               NaN
Name: 3, dtype: object

In [23]:
# will return value at 0th row and 3rd column
matches.iloc[0,3]

'2017-04-05'

In [20]:
# will return data from 5th row to 10th row
matches.iloc[5:10]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [22]:
# will return first 5 rows and first 3 columns
matches.iloc[0:5,0:3]

   id  season       city
0   1    2017  Hyderabad
1   2    2017       Pune
2   3    2017     Rajkot
3   4    2017     Indore
4   5    2017  Bangalore

In [24]:
matches.iloc[0:5,[4,5,10,13]]

,team1,team2,winner,player_of_match
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Yuvraj Singh
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,SPD Smith
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,CA Lynn
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,GJ Maxwell
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,KM Jadhav

In [26]:
matches[['team1','team2','winner','player_of_match']].head()

,team1,team2,winner,player_of_match
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,Yuvraj Singh
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,SPD Smith
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,CA Lynn
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,GJ Maxwell
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,KM Jadhav

In [29]:
matches[matches['player_of_match'] == 'MS Dhoni'][['season','team1','team2','player_of_match']]

,season,team1,team2,player_of_match
24,2017,Sunrisers Hyderabad,Rising Pune Supergiant,MS Dhoni
73,2008,Chennai Super Kings,Royal Challengers Bangalore,MS Dhoni
86,2008,Delhi Daredevils,Chennai Super Kings,MS Dhoni
143,2009,Chennai Super Kings,Deccan Chargers,MS Dhoni
181,2010,Chennai Super Kings,Kolkata Knight Riders,MS Dhoni
227,2010,Kings XI Punjab,Chennai Super Kings,MS Dhoni
288,2011,Chennai Super Kings,Delhi Daredevils,MS Dhoni
378,2012,Chennai Super Kings,Mumbai Indians,MS Dhoni
413,2013,Sunrisers Hyderabad,Chennai Super Kings,MS Dhoni
421,2013,Chennai Super Kings,Pune Warriors,MS Dhoni
445,2013,Chennai Super Kings,Delhi Daredevils,MS Dhoni
509,2014,Royal Challengers Bangalore,Chennai Super Kings,MS Dhoni
628,2016,Kings XI Punjab,Rising Pune Supergiants,MS Dhoni

In [32]:
matches[(matches['winner'] == 'Chennai Super Kings') & (matches['win_by_runs'] > 80)][['season','team2','win_by_runs']]

     season                        team2  win_by_runs
121    2009  Royal Challengers Bangalore           92
379    2012             Delhi Daredevils           86
403    2013             Delhi Daredevils           86
464    2014             Delhi Daredevils           93
541    2015              Kings XI Punjab           97

In [35]:
matches.drop_duplicates('season',keep='last')[['season','winner']]

     season                 winner
58     2017         Mumbai Indians
116    2008       Rajasthan Royals
173    2009        Deccan Chargers
233    2010    Chennai Super Kings
306    2011    Chennai Super Kings
380    2012  Kolkata Knight Riders
456    2013         Mumbai Indians
516    2014  Kolkata Knight Riders
575    2015         Mumbai Indians
635    2016    Sunrisers Hyderabad

In [36]:
pd.value_counts(matches['season'])

2013    76
2012    74
2011    73
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [37]:
pd.value_counts(matches['winner'])

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: winner, dtype: int64

In [39]:
pd.value_counts(matches['player_of_match']).head(10)

CH Gayle          18
YK Pathan         16
DA Warner         15
AB de Villiers    15
RG Sharma         14
SK Raina          14
G Gambhir         13
MS Dhoni          13
AM Rahane         12
MEK Hussey        12
Name: player_of_match, dtype: int64

In [40]:
deliveries = pd.read_csv('ipl/deliveries.csv')

In [41]:
deliveries.shape

(150460, 21)

In [42]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [43]:
temp_df = deliveries[deliveries['dismissal_kind'] == 'caught']

In [45]:
pd.value_counts(temp_df['fielder']).head(10)

KD Karthik        88
SK Raina          83
AB de Villiers    81
MS Dhoni          76
RV Uthappa        75
RG Sharma         70
NV Ojha           65
KA Pollard        64
PA Patel          60
V Kohli           60
Name: fielder, dtype: int64

In [46]:
temp_df = deliveries.dropna(subset=['dismissal_kind'])

In [48]:
data_2 = temp_df[temp_df['dismissal_kind'] != 'run out']

In [50]:
pd.value_counts(data_2['bowler']).head(10)

SL Malinga         154
A Mishra           134
Harbhajan Singh    127
PP Chawla          126
DJ Bravo           122
B Kumar            111
A Nehra            106
R Vinay Kumar      103
Z Khan             103
R Ashwin           100
Name: bowler, dtype: int64

In [57]:
data_3 = deliveries.groupby('batsman')['batsman_runs'].sum()

In [61]:
data_3.sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [63]:
deliveries.groupby(['batsman','match_id'])['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman         match_id
CH Gayle        411         175
BB McCullum     60          158
AB de Villiers  562         133
                620         129
CH Gayle        372         128
M Vijay         206         127
DA Warner       36          126
V Sehwag        516         122
PC Valthaty     243         120
V Sehwag        279         119
Name: batsman_runs, dtype: int64